<h1> WELCOME TO PLNT PCKR! </h1>

<p> Hi welcome text, description </p>

<h2 class="small-caps">Login</h2>
        <%= form_tag(sessions_path, html: {class:"form-group"}) do %>
            <%= label_tag :email%>
            <%= text_field_tag :email, '', class:"form-control" %><br>
            <%= label_tag :password %>
            <%= password_field_tag :password, '', class:"form-control" %><br>
            <%= submit_tag :"Login", class:"btn btn-primary" %>
        <% end %>
    </div>

    <p class="vertical-align"><%= link_to "Sign Up", new_user_path %></p>
  